@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.card
{
    background-color: #222222;
    width: 100%;
    max-width: 400px;
    color: #FFF;
    padding: 2rem;
    border-radius: 30px;
}