@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?clouds');
}

.card
{
    background-color: #252424b6;
    width: 100%;
    max-width: 400px;
    color: #FFF;
    padding: 2rem;
    border-radius: 30px;
    margin: 2rem;
}

.search
{
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather.loading
{
    visibility: hidden;
    max-height: 0;
    position: relative;
    
}


.weather.loading::after
{
    visibility: visible;
    max-height: 20px;
    content: "Loading...";
    color: #FFF;
    top: 0;
    position: absolute;
}
#search-bar
{
    
    padding-left:20px ;
    width: calc(100% - 80px);
    height: 2rem;
    border-radius: 21px;
    font-size: 1rem;
    background: #1a191970;
    border: none 0;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 600;
}

#search-bar:hover{
    height: 2.4rem;
}

.icon
{
    height: 1.5rem;
    width: 1.5rem;
}

#btn-search
{
    height: 1.2rem;
    width: 1.2rem;
}

#btn-search:hover
{
    height: 1.5rem;
    width: 1.5rem;
}

.details
{
    display: flex;
    height: 2rem;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.weatherIcon
{
    height: 3rem;
    width: 3rem;
}